.app{
  background-color: var(--color-catskill-white);
  height: 100vh;
}

.nav--top{
  /* position: absolute; */
  width: 100vw;
  height: 60px;
  left: 0px;
  top: 0px;
  
  background: var(--color-oxford-blue);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
}

.content-wrapper{
  max-width: 1200px;
  width: 100%;
  height: 100%;
  padding: 0 2em;
}

.content-wrapper--nav{
  display: flex;
  align-items: center;
}

.main{
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  padding: 0 2em;
}



.subhead {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 42px;
}

.count{
  font-family: "Proxima Nova Semi Bd";
}


table{
  width: 100%;
  
  background: var(--color-white);
  
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 3px 2px 2px 2px;
  border-spacing: 0;

  table-layout: fixed;
}

thead{
  background-color: var(--color-athens-gray);
  color: var(--color-oxford-blue);
}

th{
  text-align: left;
  cursor: pointer;
}

.head{
  display: flex;
  gap: var(--padding-small);
}
.head img{
  opacity: 0;
  transition: 400ms;
}
.head:hover img{
  opacity: 1;
}
td, th{
  padding: var(--padding-default);
}
/* Will render a dash for any empty cell */
td:empty::before{
  content: "-";
}

.indicator{
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.indicator--active{
  background-color: var(--color-jungle-green);
}

.row{
  padding: 0;
  align-items: center;
  vertical-align: center;
}
.row--head{
  font-family: "Proxima Nova Bd";
}
.row--important td{
  font-family: "Proxima Nova Semi Bd";
}
.nested{
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  gap: var(--padding-default);
  height: 100%;
}
.avator{
  width: 30px;
  height: 30px;
}

td{
  border-bottom: 1px solid var(--color-athens-gray);
  border-collapse: collapse;
}
.minor{
  font-weight: 500;
  font-size: 12px;
  font-family: "Proxima Nova Reg";
  color: var(--color-grey-chatea);
  object-fit: contain;
}
.nav--sub{
  display: flex;
  width: 100%;
  padding: 10px 2em;
  justify-content: center;
  background-color: var(--color-white);
}

.input-wrapper{
  position: relative;
  width: 210px;
height: 40px;
background-color: var(--color-white);
padding: var(--padding-default);
display: flex;
align-items: center;
justify-content: flex-end;
outline: 1px solid var(--color-mystic);
border-radius: 3px;
}
.input-wrapper input{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: none;
  outline: none;
  text-indent: var(--padding-default);
}
.input-wrapper input::placeholder{
  color: var(--color-grey-chatea);
}
.input-wrapper img{
  transform: scale(1);
  top: 50%;
  pointer-events: none;
}