.app{
  background-color: var(--color-catskill-white);
  height: 100vh;
}
.nav--top{
  /* position: absolute; */
  width: 100vw;
  height: 60px;
  left: 0px;
  top: 0px;
  
  background: var(--color-oxford-blue);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
}
.content-wrapper{
  max-width: 1200px;
  width: 100%;
  height: 100%;
  border: 2px solid red;
}
.content-wrapper--nav{
  display: flex;
  align-items: center;
}
.main{
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.subhead {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 42px;
}
.count{
  /* font-size: 12px; */
  font-weight: 600;
}