:root{
  --color-oxford-blue: #343951;
  --color-scooter: #40AADB;
  --color-jungle-green: #34B96F;

  --color-catskill-white: #EEF3F6;

  --padding-default: 12px;
  --padding-small: 6px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}